body {
    background-color: #eaefeb;
}

h1 {
    color: beige;
    text-align: left;
    height: 100px;
}

header {
    margin-top: -6px;
    height: 80px;
}

.gotohome{
    color: #e0e0e0;
    font-size: 40px;
    text-decoration: none;
    background-color: #003366;
}
.gotologin{
    color: #003366;
    font-size: 40px;
    text-decoration: none;
    text-align: center;
}
div.absolute {
    position: absolute;
    border: 3px solid #003366;
    top: 6px;
    right: 50px;
}
loginModal {
    position: absolute;
    border: 3px solid #73AD21;
    top: 6px;
    right: 50px;
}
.jumbotron{
    background-color: #e0e0e0;
}
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}