body {
    background-color: #eaefeb;
}

h1 {
    text-align: left;
    height: 100px;
}

header {
    margin-top: -6px;
    height: 80px;
    background-color: blueviolet;
}

.gotohome{
    color: #e0e0e0;
    font-size: 35px;
    text-decoration: none;
    background-color: #003366;
   font-family: "Times New Roman", Times, serif;
}
.gotologin{
    color: #003366;
    font-size: 40px;
    text-decoration: none;
    text-align: center;
}
div.absolute {
    position: absolute;
    border: 3px solid #003366;
    top: 6px;
    right: 50px;
}
loginModal {
    position: absolute;
    border: 3px solid #73AD21;
    top: 6px;
    right: 50px;
}
.jumbotron{
    background-color: #e0e0e0;
}
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.topnav input[type=text] {
    margin-top: 8px;
    font-size: 20px;
    border: none;
}

.topnav .search-container button {
    margin-top: 8px;
    margin-right: 16px;
    font-size: 21px;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #ccc;
}


@media screen and (max-width: 600px) {
    .search-container {
        float: none;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}